container_commands:
  01_create_secrets_dir:
    command: "mkdir -p /var/app/staging/secrets"
  02_download_firebase_key:
    command: "aws s3 cp s3://socreate-frontend/backend-secrets/firebase-service-account.json /var/app/staging/secrets/firebase-service-account.json"
  03_set_permissions:
    command: "chmod 444 /var/app/staging/secrets/firebase-service-account.json"
